<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/demo.css">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/demo.js"></script>
    <script src="../static/js/animate.js"></script>
    <title>天猫TMALL</title>
</head>
<body>
    <div class="header">
        <div class="content">
            <div class="title">
                <div class="left">
                    <a href="">
                        <img src="../static/image/bgimg.webp" alt="">
                    </a>
                </div>
                <div class="logo">
                    <img src="../static/image/logo.webp" alt="">
                </div>
                <div class="dl">
                    <a href="">
                        <span>登录</span>
                    </a>
                </div>
            </div>
            <a href="" class="searchbox">
                <div>
                    <img src="../static/image/search.webp" alt="">
                    <span>搜索商品、品牌</span>
                </div>
            </a>
        </div>
    </div>
    <div class="top-banner">
        <div class="content">
            <a href="">
                <img src="../static/image/topdaohang/banner1.webp" alt="">
                <span>苏宁易购</span>
            </a>
            <a href="">
                <img src="../static/image/topdaohang/banner2.webp" alt="">
                <span>天猫超市</span>
            </a>
            <a href="">
                <img src="../static/image/topdaohang/banner3.webp" alt="">
                <span>天猫国际</span>
            </a>
            <a href="">
                <img src="../static/image/topdaohang/banner4.webp" alt="">
                <span>聚划算</span>
            </a>
            <a href="">
                <img src="../static/image/topdaohang/banner5.webp" alt="">
                <span>分类</span>
            </a>
        </div>
    </div>
    <div class="bannerimg">
        <div id="ad_slider_container">
            <a href="" style="left: 0.23rem" class="lunbo">
                <img src="../static/image/banner/b1.webp" alt="">
            </a>
            <a href="" class="lunbo">
                <img src="../static/image/banner/b2.webp" alt="">
            </a>
            <a href="" class="lunbo">
                <img src="../static/image/banner/b3.webp" alt="">
            </a>
            <a href="" class="lunbo">
                <img src="../static/image/banner/b4.webp" alt="">
            </a>
            <a href="" class="lunbo">
                <img src="../static/image/banner/b5.webp" alt="">
            </a>
            <a href="" class="lunbo">
                <img src="../static/image/banner/b6.webp" alt="">
            </a>
            <a href="" class="lunbo">
                <img src="../static/image/banner/b7.webp" alt="">
            </a>
            <a href="" class="lunbo">
                <img src="../static/image/banner/b8.webp" alt="">
            </a>
            <a href="" class="lunbo">
                <img src="../static/image/banner/b9.webp" alt="">
            </a>
        </div>
        <div class="btns">
            <a href="" class="son">
            </a>
            <a href="" class="son"></a>
            <a href="" class="son"></a>
            <a href="" class="son"></a>
            <a href="" class="son"></a>
            <a href="" class="son"></a>
            <a href="" class="son"></a>
            <a href="" class="son"></a>
            <a href="" class="son"></a>
        </div>
    </div>
    <div class="middle-ad">
        <a href="">
            <img src="../static/image/middle-ad.webp" alt="">
        </a>
    </div>
    <div class="hhtm">
        <span>好货特卖</span>
    </div>
    <div class="xsqg">
        <img src="../static/image/xsqg/bg.webp" alt="" class="bg">
        <div class="djs">
            <span>限时抢购</span>
            <div class="time">
                <div class="con">
                    <div class="shi">
                        <span class="hour tt">02</span>
                    </div>
                    <span class="fenhao">:</span>
                    <div class="fen">
                        <span class="minute tt">30</span>
                    </div>
                    <span class="fenhao">:</span>
                    <div class="miao">
                        <span class="second tt">45</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="lists">
            <a href="">
                <img src="../static/image/xsqg/list1.webp" alt="">
                <span class="tips">实惠好货</span>
                <span class="price">￥35</span>
            </a>
            <a href="">
                <img src="../static/image/xsqg/list2.webp" alt="">
                <span class="tips">已抢88%</span>
                <span class="price">￥1399</span>
            </a>
            <a href="">
                <img src="../static/image/xsqg/list3.webp" alt="">
                <span class="tips">已抢88%</span>
                <span class="price">￥149</span>
            </a>
            <a href="">
                <img src="../static/image/xsqg/list4.webp" alt="">
                <span class="tips">劲爆抢购</span>
                <span class="price">￥23</span>
            </a>
        </div>
    </div>
    <div class="fxpp">
        <span>发现品牌</span>
    </div>
    <div class="pp-list">
        <div class="con">
            <div class="up">
                <div class="tmhh">
                    <a href="">
                        <span>天猫小黑盒</span>
                        <span>新品好物 领券试用</span>
                    </a>
                    <div class="items">
                        <a href="" class="clxp">
                            <div>
                                <img src="../static/image/fxpp/left1.webp" alt="" class="shops">
                            </div>
                            <img src="../static/image/fxpp/bgtmall.png" alt="" class="bg">
                            <span>人气新品</span>
                        </a>
                        <a href="" class="clxp">
                            <div>
                                <img src="../static/image/fxpp/left2.webp" alt="" class="shops">
                            </div>
                            <img src="../static/image/fxpp/bgtmall.png" alt="" class="bg">
                            <span>新品大赏</span>
                        </a>
                    </div>
                </div>
                <a class="pplive">
                    <img src="../static/image/fxpp/bg2.png" alt="" class="bg">
                    <div class="title">
                        <span>品牌LIVE</span>
                        <span>超值大牌在这里</span>
                    </div>
                    <img src="../static/image/fxpp/livebg.webp" alt="" class="video">
                    <div class="con-video">
                        <div class="content">
                            <span>Razer/雷蛇</span>
                            <img src="../static/image/fxpp/right1.webp" alt="" class="imgright1">
                            <img src="../static/image/fxpp/right2.webp" alt="" class="imgright2">
                        </div>
                    </div>
                </a>
            </div>
            <div class="down">
                <a href="" class="items">
                    <!--<img src="../static/image/fxpp/item-bg.webp" alt="" class="bg">-->
                    <div class="ceng1">
                        <div class="shops">
                            <img src="../static/image/fxpp/touying.webp" alt="">
                        </div>
                    </div>
                    <div class="hidd">
                        <div>
                            <img src="../static/image/fxpp/logo.webp" alt="">
                        </div>
                        <span>精选品牌</span>
                    </div>
                </a>
                <a href="" class="items">
                    <div class="ceng1">
                        <div class="shops">
                            <img src="../static/image/fxpp/chaye.webp" alt="">
                        </div>
                    </div>
                    <div class="hidd">
                        <div>
                            <img src="../static/image/fxpp/logo2.webp" alt="">
                        </div>
                        <span>精选品牌</span>
                    </div>
                </a>
                <a href="" class="items">
                    <div class="ceng1">
                        <div class="shops">
                            <img src="../static/image/fxpp/dfb.webp" alt="">
                        </div>
                    </div>
                    <div class="hidd">
                        <div>
                            <img src="../static/image/fxpp/logo3.webp" alt="">
                        </div>
                        <span>精选品牌</span>
                    </div>
                </a>
                <a href="" class="items">
                    <div class="ceng1">
                        <div class="shops">
                            <img src="../static/image/fxpp/zhijia.webp" alt="">
                        </div>
                    </div>
                    <div class="hidd">
                        <div>
                            <img src="../static/image/fxpp/logo4.webp" alt="">
                        </div>
                        <span>精选品牌</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="tmallzhiying">
        <div class="con">
            <span class="title">天猫官方直营</span>
            <div class="item">
                <div class="items">
                    <span class="tips">天猫超市</span>
                    <span class="info">一站购齐 满88包邮</span>
                    <div class="list">
                        <a href="">
                            <img src="../static/image/gfzy/shop1.webp" alt="">
                        </a>
                        <a href="">
                            <img src="../static/image/gfzy/shop2.webp" alt="">
                        </a>
                    </div>
                </div>
                <div class="items">
                    <span class="tips">国际直营</span>
                    <span class="info">官方采购品质保证</span>
                    <div class="list">
                        <a href="">
                            <img src="../static/image/gfzy/shop3.webp" alt="">
                        </a>
                        <a href="">
                            <img src="../static/image/gfzy/shop4.webp" alt="">
                        </a>
                    </div>
                </div>
                <div class="items">
                    <span class="tips">魅力惠</span>
                    <span class="info">奢品限量3折起</span>
                    <div class="list">
                        <a href="">
                            <img src="../static/image/gfzy/shop5.webp" alt="">
                        </a>
                        <a href="">
                            <img src="../static/image/gfzy/shop6.webp" alt="">
                        </a>
                    </div>
                </div>
                <div class="items">
                    <span class="tips">天猫生鲜</span>
                    <span class="info">舌尖的盛宴</span>
                    <div class="list">
                        <a href="">
                            <img src="../static/image/gfzy/shop7.webp" alt="">
                        </a>
                        <a href="">
                            <img src="../static/image/gfzy/shop8.webp" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wnjx">
        <div class="con">
            <span>为你精选</span>
        </div>
    </div>
    <div class="foryou">
        <div class="content">
            <div class="left">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx1.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
            <div class="left right">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx1.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="foryou">
        <div class="content">
            <div class="left">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx1.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
            <div class="left right">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx1.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="foryou">
        <div class="content">
            <div class="left">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx1.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
            <div class="left right">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx2.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="foryou">
        <div class="content">
            <div class="left">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx3.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
            <div class="left right">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx4.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="foryou">
        <div class="content">
            <div class="left">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx5.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
            <div class="left right">
                <a href="">
                    <div class="tupian">
                        <img src="../static/image/gfzy/jx6.webp" alt="">
                    </div>
                    <div class="pinpai">
                        <span>MARIE DALGAR/玛丽黛佳</span>
                    </div>
                    <div class="miaoshu">
                        <span>玛丽黛佳眉笔持久一字眉雾眉眉粉刷</span>
                    </div>
                </a>
                <div class="price">
                    <span>￥47</span>
                    <a href="">
                        <img src="../static/image/gfzy/find.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>